{% extends "reviews/base.html" %}
{% block title %}
    Your Reviews
{% endblock title %}
{% block content %}
    <section id="reviews">
        <form action=" {% url 'reviews:index' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control{% if not field.errors %} errors{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Send</button>
        </form>
    </section>
{% endblock content %}
